body{
    background-color: blueviolet;
}

.navbar-brand{
    color: rgb(128, 128, 0);
    font-size: x-large;
    
}

span{
    color: blueviolet;
}

.navbar-nav{
    font-size: large;
}
.container{
    margin-top: 290px;
    margin-right: 15px;
    margin-bottom: 450px;
    margin-left: 450px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    
}
#Full{
    color: #ff73e8;
}
.name{
    color: #ffa5f0;
}

nav{
    width: 100%;
    
}

.about-section{
    margin-bottom: 500px;
    background-color: #ffa5f0;
    border: 1px solid rosybrown;
    border-radius: 50px;
    height: 100%;
    width: 70%;
    margin-left: 200px;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

img{
    float: right;
    margin-right: 5px;
}

p{
    font-size: 25px;
    justify-content: space-evenly;
    margin-left: 25px;
}

/*Education Section Styling*/
 table{
    max-width: 60%;
    margin-left: 200px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
    position: absolute;
    top: 1300px;
 }  

 h2{
    margin-left: 200px;
    color: #ffa5f0;
    text-decoration: underline;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 1200px;
 }

 .skill-content{
      
    display: flex;
    justify-content: center;
    /* background-color: white; */
    height: 30%;
    align-items: center;
    background: rgba(161, 161, 161, 0.178);
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.226);
    border-radius: 35px;
    width: 70%;
    margin: 0 auto;
    
   
}
.skill{
    /* margin: auto; */
    margin: 30px;
}
.skill-text{
    text-align: center;
    margin-top: 30px;
    text-shadow: 0px 2px 20px rgba(0,0,0,0.29);
    
}

h3{
    margin-top: 30px;
    margin-left: 200px;
    color: #ffa5f0;
    text-decoration: underline;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

 }

 .contact-section{
    margin-left: 200px;
    margin-top: 30px;
    
 }

 h4{
    color: antiquewhite;
    text-decoration: underline;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 ol{
    list-style: circle;
    font-size: x-large;
 }

 .social{
    float: left;
 }

 h5{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
 }

 




@media (max-width:400px){
    body{
        background-color: blueviolet;
    }
    
    .container{
        margin-top: 250px;
        margin-right: 15px;
        margin-bottom: 150px;
        margin-left: 25px;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
        
    }
    #Full{
        color: #ff73e8;
    }
    .name{
        color: #ffa5f0;
    }

    .about-section{
        margin-bottom: 500px;
        background-color: #ffa5f0;
        width: 100%;
    
    
    }
    
    h1{
        text-align: center;
        text-decoration: underline;
        color: #FFFFFF;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        
    }
    
    
    
    p{
        font-size: 25px;
        justify-content: space-evenly;
        margin-left: 25px;
        color:gray;
    }

    .navbar-brand{
        text-align: center;
    }
    
    
}

@media (max-width:500px){
    body{
        background-color: blueviolet;
    }
    
    .container{
        margin-top: 250px;
        margin-right: 15px;
        margin-bottom: 150px;
        margin-left: 25px;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
        
    }
    #Full{
        color: #ff73e8;
    }
    .name{
        color: #ffa5f0;
    }

    .about-section{
        margin-bottom: 500px;
        background-color: #ffa5f0;
        
        width: 100%;
    
    
    }
    
    h1{
        text-align: center;
        text-decoration: underline;
        color: #FFFFFF;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        
    }
    
    
    
    p{
        font-size: 25px;
        justify-content: space-evenly;
        margin-left: 25px;
        color:gray;
    }
    
    
}

@media (max-width:600px){
    body{
        background-color: blueviolet;
    }
    
    .container{
        margin-top: 250px;
        margin-right: 15px;
        margin-bottom: 150px;
        margin-left: 25px;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
        
    }
    #Full{
        color: #ff73e8;
    }
    .name{
        color: #ffa5f0;
    }

    .about-section{
        margin-bottom: 500px;
        background-color: #ffa5f0;
        
        width: 100%;
    
    
    }
    
    h1{
        text-align: center;
        text-decoration: underline;
        color: #FFFFFF;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        
    }
    
    
    
    p{
        font-size: 25px;
        justify-content: space-evenly;
        margin-left: 25px;
        color:gray;
    }
    
    
}

