.navbar-brand{
    color: rgb(128, 128, 0);
    font-size: x-large;
    
}

span{
    color: blueviolet;
}

.navbar-nav{
    font-size: large;
}

.about-section{
    margin-bottom: 500px;
    background-color: #ffa5f0;
    border: 1px solid rosybrown;
    border-radius: 50px;
    height: 100%;
    width: 70%;
    margin-left: 200px;
    margin-top: 30px;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

img{
    float: right;
    margin-right: 5px;
}

p{
    font-size: 25px;
    justify-content: space-evenly;
    margin-left: 25px;
}

.contact-section{
    margin-left: 200px;
    margin-top: 30px;
    
 }

 h4{
    color: antiquewhite;
    text-decoration: underline;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 ol{
    list-style: circle;
    font-size: x-large;
 }

 .social{
    float: left;
 }

 h5{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
 }

 
