.navbar-brand{
    color: rgb(128, 128, 0);
    font-size: x-large;
    
}

span{
    color: blueviolet;
}

.navbar-nav{
    font-size: large;
}

.contact-section{
    margin-left: 200px;
    margin-top: 30px;
    
 }

 h4{
    color: antiquewhite;
    text-decoration: underline;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 ol{
    list-style: circle;
    font-size: x-large;
 }

 .social{
    float: left;
 }

 h5{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
 }

 body{
    background-color: palevioletred;
 }

